<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="day07.Create_User" />
			<class name="day07.Get_User" />
			<class name="day07.Update_User" />
			<class name="day07.Delete_User" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->	
